<footer class="pie pb-1 px-4 pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="mb-2">Quienes somos?</p>
        <p><a routerLink="/we">Sobre nosotros</a></p>
      </div>
      <div class="col-md-4">
        <p class="mb-2">Contacto y ayuda</p>
        <p><a routerLink="/contacto">Contacto</a></p>
        <p><a routerLink="/faq">Preguntas frecuentes</a></p>
      </div>
      <div class="col-md-4">
        <p class="mb-2">Legal</p>
        <p><a routerLink="/privacidad">Política de privacidad</a></p>
        <p><a routerLink="/cookies">Política de cookies</a></p>
      </div>
    </div>
    <hr/>
    <p class="copyright mb-0"><small>Encuentra los iconos que usamos: <a href="#">Pulsa aquí</a></small></p>
    <p class="copyright"><small>Copyright &copy; 2019 Santiago de Compostela, A Coruña, Galicia.</small></p>
  </div>
</footer>
