<div class="container">
  <h2 class="mb-2 text-center primary_text">Últimos apuntes</h2>
  <div class="row"><p class="ml-3 mt-3 mb-0">Filtro:</p></div>
  <div class="row">
    <mat-form-field class="mt-0 col-md-4">
      <mat-label>Selecciona una rama</mat-label>
      <mat-select [(value)]="ramaSeleccionada"  (selectionChange)=nuevaRamaSeleccionada($event)>
        <mat-option>Todas las ramas</mat-option>
        <mat-option *ngFor="let rama of ramas" [value]="rama.id">{{rama.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class=" col-md-4">
      <mat-label>Selecciona una carrera</mat-label>
      <mat-select [(value)]="carreraSeleccionada" (selectionChange)="nuevoGradoSeleccionado($event)">
        <mat-option>Todas los grados</mat-option>
        <ng-container *ngIf="!ramaSeleccionada"> <!-- Si no se ha seleccionado rama mostramos todas las carreras -->
          <mat-optgroup *ngFor="let degree of degreeMap | keyvalue" [label]="degree.key">
            <mat-option *ngFor="let degreeObject of degree.value" [value]="degreeObject.id">
              {{degreeObject.name}}
            </mat-option>
          </mat-optgroup>
        </ng-container>
        <ng-container *ngIf="ramaSeleccionada">
          <mat-option *ngFor="let degreeObject of grados" [value]="degreeObject.id">
            {{degreeObject.name}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-4">
      <mat-label>Selecciona una asignatura</mat-label>
      <mat-select [(value)]="asignaturaSeleccionada" (selectionChange)="nuevaAsignaturaSeleccionada($event)">
        <mat-option>Todas las asignaturas</mat-option>
        <mat-optgroup *ngFor="let listaDeAsignaturas of asignaturas; let i = index" [label]="(i+1)+'º Curso'">
          <mat-option *ngFor="let asignatura of listaDeAsignaturas" [value]="asignatura.id">
            {{asignatura.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="table-responsive col-12">
      <table class="table table-hover">
        <thead class="primary_color">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Asignatura</th>
            <th scope="col">Carrera</th>
            <th scope="col">Fecha Subida</th>
            <th scope="col">Tamaño</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let apunte of ultimosApuntes">
            <th scope="row"><a href="http://apuntesusc.es/api/api/documents/download/{{apunte.id}}" target="_blank">{{apunte.name}}</a></th>
            <td><a routerLink="/subject/{{apunte.subject.id}}/classNotes">{{apunte.subject.name}}</a></td>
            <td><a routerLink="/degree/{{apunte.subject.degree.id}}/subjects">{{apunte.subject.degree.name}}</a></td>
            <td>{{apunte.updateTime | date: 'dd/MM/yyyy'}}</td>
            <td>{{apunte.size | fileSize}}</td>
          </tr>
          <tr *ngIf="!ultimosApuntes?.length">
            <td colspan="5">No hay apuntes para los filtros seleccionados</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
